---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const { class: list, ...attrs } = Astro.props;
const styles =
  "font-alata text-7 uppercase py-3.25 px-[2.53125rem] bg-white text-black active:bg-black active:text-white hover:bg-grey-200 focus-visible:bg-grey-200 focus-visible:outline-2 border border-black transition-colors duration-300 ease-in-out";
---

<button class:list={[styles, list]} {...attrs}>
  <slot />
</button>
