---
import type { MarkdownInstance } from "astro";
import Card from "./Card.astro";
import Button from "./Button.astro";

interface Frontmatter {
  title: string;
  href: string;
  alt: string;
  mobileImgUrl: string | ImageMetadata;
  desktopImgUrl: string | ImageMetadata;
}

const matches = import.meta.glob<MarkdownInstance<Frontmatter>>(
  "../creations/*.md",
  {
    eager: true,
  }
);
const creations = Object.values(matches);
---

<section class="">
  <h2 class="uppercase text-4 xl:text-2">our creations</h2>
  <list class="grid gap-6 xl:gap-8 xl:grid-cols-4 list-none xl:w-fit">
    {
      creations.map((creation) => (
        <li>
          <Card {...creation.frontmatter} />
        </li>
      ))
    }
  </list>
  <Button>see all</Button>
</section>
