---
import type { MarkdownInstance } from "astro";
import Card from "./Card.astro";
import Button from "./Button.astro";

interface Frontmatter {
  title: string;
  href: string;
  alt: string;
  mobileImgUrl: string | ImageMetadata;
  desktopImgUrl: string | ImageMetadata;
}

const matches = import.meta.glob<MarkdownInstance<Frontmatter>>(
  "../creations/*.md",
  {
    eager: true,
  }
);
const creations = Object.values(matches);
---

<section
  class="grid gap-y-8 xl:gap-y-20 xl:grid-rows-[auto_auto] xl:grid-cols-2 xl:w-fit"
>
  <h2
    class="uppercase text-4 xl:text-2 justify-self-center xl:justify-self-start xl:row-start-1 xl:col-start-1"
  >
    our creations
  </h2>
  <list
    class="grid gap-6 xl:gap-8 xl:grid-cols-4 list-none xl:row-start-2 xl:col-span-2 max-md:mt-4"
  >
    {
      creations.map((creation) => (
        <li>
          <Card {...creation.frontmatter} />
        </li>
      ))
    }
  </list>
  <Button
    class="justify-self-center xl:justify-self-end xl:row-start-1 xl:col-start-2"
    >see all</Button
  >
</section>
