---
import Creations from "./Creations.astro";
import Description from "./Description.astro";
---

<main class="flex flex-col items-center px-6 md:px-10 py-24 gap-24 md:pb-21.75  xl:gap-46 xl:pt-40 xl:pb-45.5">
  <Description/>
  <Creations />
</main>
